@import '../../../styles/settings.scss';

.cartBox {
    width: 250px;
    height: auto;
    background-color: $mainDark;
    position: absolute;
    top: -50px;
    right: -96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .productBox {
        width: 100%;
        height: 80px;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 50% 50%;
        padding-right: 23px;
        border-bottom: 1px solid $mainLight;
        img {
            grid-row-start: 1;
            grid-row-end: 3;
            height: 100%;
            width: 100%;
        }
        h4 {
            font-family: $nav-font;
            color: $mainLight;
            font-size: 12px;
            justify-items: center;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        p {
            font-family: $nav-font;
            font-size: 15px;
            color: $mainLight;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    .cartLink {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $mainDark;
        background-color: $mainLight;
        margin: 30px;
        width: 60%;
        height: 40px;
        font-family: $nav-font;
        border: none;
        border-radius: 5px;
    }

}


