@import '../../../styles/settings.scss';

.footer {
    position: relative;
    height: 350px;
    background-color: $mainDark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .info {
        color: $mainLight;
        a {
            padding: 0 60px;
            color: $lightDark;
            cursor: pointer;
            font-family: $nav-font;
            font-size: 16px;
        }      
    }

    .social__media {
        margin-top: 40px;
        .social__media__icon {
            color: $lightDark;
            font-size: 25px;
            margin: 0 10px;
            cursor: pointer;
        }
    }
}  

@media (min-device-width: 280px) and (max-device-width: 767px) {

    .footer {
        height: 200px;
        .info {
            a {
                padding: 0 20px;
                font-size: 10px;
                flex-wrap: wrap;
            }      
        }
    }  

}

