@import '../../../styles/settings.scss';

.root {
    position: relative;
    height: 1400px;
    text-align: center;
    justify-content: center;
    margin: 200px 0;
    background-color: $mainLight;
    display: flex;
    font-family: $nav-font;
    .left {
        width: 70%;
        height: auto;
        margin: 50px;
        margin-top: 0;
        .order__form {
            input {
                height: 40px;
            }
            .content {
                margin: 30px 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
            }
            textarea {
                height: 100px;
                width: 100%;
            }
        }
        .payment, .shipping {
            display: flex;
            height: 100px;
            border: 1px solid $mainDark;
            .payment__method, .shipping__method {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 33.3%;
                height: 100%;
                &:hover {
                    background-color: $lucid;
                }
                input {
                    margin: 15px;
                }
            }
            .payment__method:not(:last-child), .shipping__method:not(:last-child) {
                border-right: 1px solid $mainDark;
            }
        }
    }
    .right {
        width: 30%;
        background-color: $warm;
        padding: 24px;
        .order__total {
            height: 100%;
            width: 100%;
            button {
                height: 88px;
                width: 100%;
                padding: 30px;
                font-size: 20px;
                font-family: $nav-font;
                background-color: $lucid;
                border: none;
                box-shadow: 1px 1px grey;
                outline: none;
                &:hover {
                    background-color: $depth;
                    color: $lucid;
                }

            }
            .total {
                display: flex;
                justify-content: space-between;
                margin: 50px 0;
            }
        }
    }

    h2 {
        margin: 70px 0;
        background-color: $light;
        padding: 12px 0;
    }
}

@media (min-device-width: 280px) and (max-device-width: 767px) {

    .root {
        flex-direction: column;
        margin: 0;
        h2 {
            margin: 10px 0;
            font-size: 15px;
        }
        .left {
            width: 85%;
            margin: -244px 25px 0 25px;
            .order__form {
                .content {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    input {
                        height: auto;
                    }
                }
            }
            .payment .payment__method label {
                font-size: 10px;
            }
            .shipping .shipping__method label {
                font-size: 10px;
            }
        }
        .right {
            width: 85%;
            margin: 10px 25px 0 25px;
                .order__total .total {
                    margin: 20px 0;
                    h1 {
                        margin: 0;
                    }
                }
                .order__total button {
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

        }
    }


    

}



