@import '../../../styles/settings.scss';

.root {
    position: relative;
    height: 1400px;
    text-align: center;
    justify-content: center;
    margin: 200px 0;
    background-color: $mainLight;
    display: flex;
    font-family: $nav-font;
    .left {
        width: 70%;
        height: auto;
        margin: 50px;
        margin-top: 0;
        .orderForm {
            input {
                height: 40px;
            }
            .content {
                margin: 30px 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
            }
            textarea {
                height: 100px;
                width: 100%;
            }
        }
        .payment, .shipping {
            display: flex;
            height: 100px;
            border: 1px solid $mainDark;
            .paymentMethod, .shippingMethod {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 33.3%;
                height: 100%;
                &:hover {
                    background-color: $lucid;
                }
                input {
                    margin: 15px;
                }
            }
            .paymentMethod:not(:last-child), .shippingMethod:not(:last-child) {
                border-right: 1px solid $mainDark;
            }
        }
    }
    .right {
        width: 30%;
        background-color: $warm;
        padding: 30px;
        .orderSumUp {
            height: 100%;
            width: 100%;
            .product {
                display: flex;
                justify-content: space-between;
                align-items: center;
                grid-gap: 10px;
                margin-bottom: 10px;
                margin-right: 10px;
                img {
                    height: 100px;
                    width: 100px;
                    background-color: black;
                }
            }
            button {
                height: 60px;
                width: 100%;
                margin: 50px 0;
                font-size: 25px;
                font-family: $nav-font;
                background-color: $lucid;
                border: none;
                box-shadow: 1px 1px grey;
                &:hover {
                    background-color: $depth;
                    color: $lucid;
                }
            }
        }
    }

    h2 {
        margin: 70px 0;
        background-color: $light;
        padding: 12px 0;
    }
}


