$base-size: 12px;
$logo-font: 'Yusei Magic', sans-serif;
$motto-font: 'Annie Use Your Telescope', cursive;
$nav-font: 'Lexend Mega', sans-serif;
$mainLight: white;
$light: #9B9895;
$depth: #343434;
$mainDark: black;
$lightDark: grey;
$warm: #C4B9B8;
$lucid: #D8A743;


