@import '../../../styles/settings.scss';

.root {
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 200px 0;
}

@media (min-device-width: 280px) and (max-device-width: 767px) {

    .root {
        margin: 0;
    }

}
