@import '../../../styles/settings.scss';

.singleProduct {
    margin-bottom: 20px;
    border-bottom: 1px solid $light;
    display: flex;
      .centre__elements, .end__elements {
          display: flex;
          flex-direction: column;
          margin: auto 0;
      }
      .centre__elements {
          margin-left: 20px;
          margin-right: auto;
          h3 {
              margin: 20px 0 5px 0;
          }
          select {
              width: 40px;
              margin: 20px 0;
              text-align: left;
          }
      }
      .end__elements {
          button, p {
              margin: 15px 20px;
          }
        button {
            height: 30px;
            width: 30px;
            background-color: $mainLight;
            border: none;
            outline: none;
            cursor: pointer;
            &:hover {
                background-color: $light;
                color: $mainLight;
            }
        }  
      }
  }
