@import '../../../styles/settings.scss';

.root {
    display:flex;
    justify-content: center;
    margin: 20px 0;

        button {
            width: 30px;
            height: 30px;
            background-color: $warm;
            border: none;
            font-size: 20px;
            font-family: $nav-font;
            border-radius: 5px;
            box-shadow: 1px 1px $lightDark;
            &:hover {
                background-color: $depth;
                color: $mainLight;
            }
        }
        input {
            width: 30px;
            height: 30px;
            text-align: center;
        }
}
