@import '../../../styles/settings.scss';

.root {
    box-sizing: border-box;
    position: relative;
    height: auto;
    width: auto;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('https://images.pexels.com/photos/128639/pexels-photo-128639.jpeg');
        background-size: cover;
        opacity: 0.78;
        width: 100%;
    }
    .top__bar {
        position: relative;
        background-color: $mainDark;
        height: 50px;
        .top__bar__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;
            height: 100%;
            .link {
                text-decoration: none;
            }
        }
        .logo {
            display: flex;
            align-items: center;
            margin-left: 20px;
            .leaf {
                color: $mainLight;
                font-size: 30px;
                margin-right: 12px;
            }
        }     
        h1 {
            font-size: 28px;
            color: $mainLight;
            font-family: $logo-font;
        }

        .side__options {
                display: flex;
                color: $mainLight;
                margin-right: 2rem;
                a {
                    padding: 0 30px;
                    color: $mainLight;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .cart {
                    display: flex;
                    align-items: center;
                    padding: 0 2rem;
                    a {
                        padding: 0 10px;
                    }
                    p {
                        background-color: $mainLight;
                        color: $mainDark;
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        border-radius: 50%;
                    }
                    &:hover {
                        background-color: orange;
                        color: $mainDark;
                        a {
                            color: $mainDark;
                        }
                    }
                }
        }
        .nav {
            height: 50px;
            background-color: $depth;
            position: relative;
            display: flex;
            justify-content: center;
            .nav__link {
                text-decoration: none;
                color: $mainLight;
                justify-content: space-around;
                align-items: center;
                display: flex;
                font-size: 16px;
                font-family: $nav-font;
            }
            a {
                padding: 0 40px;
                cursor: grab;
                &:hover {
                    color: $mainDark;
                    background-color: $mainLight;
                } 
            }
        }
    }
    .layout__background {
        position: relative;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        font-family: $motto-font;  
        margin-top: 50px;
        padding: 40px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $mainLight;
            opacity: 0.6;
        }

    }  
}

.cartbox {
    width: 250px;
    height: auto;
    background-color: $mainDark;
    position: absolute;
    top: -50px;
    right: -96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .cartbox__product {
        width: 100%;
        height: 80px;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 50% 50%;
        padding-right: 23px;
        border-bottom: 1px solid $mainLight;
        img {
            grid-row-start: 1;
            grid-row-end: 3;
            height: 100%;
            width: 100%;
        }
        h4 {
            font-family: $nav-font;
            color: $mainLight;
            font-size: 12px;
            justify-items: center;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        p {
            font-family: $nav-font;
            font-size: 15px;
            color: $mainLight;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    .cartlink {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $mainDark;
        background-color: $mainLight;
        margin: 30px;
        width: 60%;
        height: 40px;
        font-family: $nav-font;
        border: none;
        border-radius: 5px;
    }
    .empty {
        height: 300px;
    }

}





