@import '../../../styles/settings.scss';

.root {
    position: relative;
    height: 1700px;
    width: 100%;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('https://images.pexels.com/photos/128639/pexels-photo-128639.jpeg');
        background-size: cover;
        opacity: 0.78;
    }
    .topBar {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        height: 40px;
        padding: 0 10px;
        .logo {
            display: flex;
            align-items: center;
            .leaf {
                color: white;
                font-size: 25px;
                margin-right: 12px;
            }
        }
        button {
            height: 30px;
            width: 12%;
            color: white;
            font-size: 20px;
            background-color: black;
            border: none;
            cursor: grab
        }
        button:hover {
            background-color: white;
            color: black;
        }

        h1 {
            font-size: 25px;
            color: white;
            font-family: $logo-font;
        }
        .sideOptions {
                display: flex;
                color: white;
                a {
                    margin: 0 20px;
                    color: white;
                    text-decoration: none;
                }
        }
    }
    .menu {
        position: relative;
        width: 13%;
        background-color: black;
        margin: 0;
        padding: 0;
        padding-bottom: 40px;
            a {
                color: white;
                text-decoration: none;
                display: block;
                padding: 10px 0;
                border-bottom: grey solid 1px;
                padding-left: 30px;
            }
            a:first-child {
                padding-top: 40px;
            }
        }
    }

