@import '../../../styles/settings.scss';

.root {
    position: relative;
    text-align: center;
    display: flex;
    margin: 100px 115px 200px 115px;
    background-color: $mainLight;
    img {
        height: 40%;
        width: 40%;
        margin: 100px;
    }
    .content__wrapper {
        margin: 100px;
        margin-left: 0;
        h2, h1 {
            font-family: $nav-font;
            font-size: 30px;
            text-align: start;
        }
        p {
            font-family: $nav-font;
            font-size: 12px;
            text-align: justify;
            margin: 100px 0;
        }
        button {
            width: 100%;
            height: 12%;
            background-color: $warm;
            border: none;
            font-size: 20px;
            font-family: $nav-font;
            border-radius: 5px;
            box-shadow: 1px 1px $lightDark;
            &:hover {
                background-color: $depth;
                color: $mainLight;
            }
        }
        .amount {
            margin: 50px 0;
            display: flex;
            select {
                height: 25px;
                width: 40px;
                text-align: left;
                outline: none;
            }
        }
    }
}

@media (min-device-width: 280px) and (max-device-width: 767px) {

    .root {
      margin: 0 auto;
      padding: 15px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      img {
        height: 100%;
        width: 100%;
        margin: 0;
      }
      .content__wrapper {
        margin: 0;
        h2, h1 {
            text-align: center;
            margin: 50px 0;
        }
        p {
            font-size: 12px;
            text-align: justify;
            margin-top: 0;
            margin-bottom: 50px;
        }
        button {
            height: 50px;
            font-size: 15px;
            border-radius: 2px;
        }
        .amount {
            margin: 50px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            select {
                height: 20px;
                width: 30px;
            }
        }
    }
}

}

