@import '../../../styles/settings.scss';

.root {
    position: relative;
    height: 1000px;
    text-align: center;
    justify-content: center;
    margin: 200px 0;
    background-color: white;
    display: flex;
    font-family: $nav-font;
    .left {
        width: 70%;
        height: auto;
        margin: 30px;
        img {
            background-color: black;
            width: 130px;
            height: 130px;
        }
    }
    .right {
        width: 30%;
        background-color: $warm;
        .price__element {
            display: flex;
            justify-content: space-between;
            margin: 30px;
        }
        .checkout {
            display: block;
            width: 90%;
            height: 88px;
            background-color: $lightDark;
            color: $mainLight;
            text-decoration: none;
            padding: 30px;
            margin: 0 auto;
            font-size: 20px;
            &:hover {
                background-color: $depth;
                color: $light;
            }
        }
    }

}

