@import '../../../styles/settings.scss';

.root {
    position: relative;
    height: 1000px;
    text-align: center;
    justify-content: center;
    margin: 200px 0;
    background-color: white;
    display: flex;
    font-family: $nav-font;
    .left {
        width: 70%;
        height: auto;
        margin: 30px;
        img {
            background-color: black;
            width: 130px;
            height: 130px;
        }
    }
    .right {
        width: 30%;
        background-color: $lightDark;
        .price__element {
            display: flex;
            justify-content: space-between;
            margin: 30px;
        }
        .checkout {
            display: block;
            width: 90%;
            height: 88px;
            background-color: $depth;
            color: $light;
            text-decoration: none;
            padding: 30px;
            margin: 0 auto;
            font-size: 20px;
            outline: none;
            &:hover {
                background-color: $mainLight ;
                color: $mainDark;
            }
        }
    }

}

@media (min-device-width: 280px) and (max-device-width: 767px) {

  .root {
    flex-direction: column;
    margin: 0;
    height: auto;
    .right {
      width: 100%;
      padding-bottom: 30px;
    }
    .left {
        width: 80%;
    }
  }

}

